
.banner{
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12%;
}

.banner__linkconsoles{

    background-color: var(--corAzul);
    color: var(--corBranco);
    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    float:inline-start; 
    
    
    line-height: 19px;
    padding: 1.2rem 1rem;
    
    
    text-decoration: none;

    margin-top: 10%;
    
    
}


/* .bannerTitulo{
    color:var(--corBranco);
    font-family: 'Raleway' sans-serif;
    font-size: 4.43rem;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;

} */

/* .bannerParagrafo{
    color: var(--corBranco);
    
} */

@media screen and (max-width:768px){
    .banner{
        background-image: url(../img/banner-tamanho-m.png);
        
        padding:25%
    }


    .banner__linkconsoles{
        
        margin-top: 28%;
        margin-left: -41%;

        transform: scale(1,0.8);
        
    }
}

@media screen and (max-width:480px){
    .banner{
        background-image: url(../img/banner-tamanho-p.png);
        
    }


    .banner__linkconsoles{
        margin-top: 20%;
        margin-left: -46%;

        transform: scale(0.8);
    }
}

@media screen and (min-width:1081px){
    .banner{
        
        
        padding:14%
    }
    .banner__linkconsoles{
    transform: scale(1.5);
    margin-top:12%
    
    }
}
/* @media screen and (max-width:1440px){
    .banner__linkconsoles{
        margin-top: 10.1%;
        margin-left: 1.4%;
        transform: scale(2.5,2.2);
    }
} */
