.banner{
    width: 100%;
    margin: 0 auto;
}

.linkConsoles{
    background-color: var(--corAzul);
    color: var(--corBranco);
    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    
    left: 10.6%;
    line-height: 19px;
    padding: 1.2rem 2.4rem;
    
    position: absolute;
    text-decoration: none;
    top: 45.5%;
}

.sectionBanner{
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12%;
}

/* .bannerTitulo{
    color:var(--corBranco);
    font-family: 'Raleway' sans-serif;
    font-size: 4.43rem;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;

} */

/* .bannerParagrafo{
    color: var(--corBranco);
    
} */

@media screen and (max-width:768px){
    .sectionBanner{
        background-image: url(../img/banner-tamanho-m.png);
        padding:25%
    }


    .linkConsoles{
        top: 37.5%;
        transform: scale(0.8);
        left: 2%;
    }
}

@media screen and (max-width:480px){
    .sectionBanner{
        background-image: url(../img/banner-tamanho-p.png);
        padding:25%
    }


    .linkConsoles{
        top: 25%;
        transform: scale(0.8);
        left: 0%;
    }
}

@media screen and (min-width:108px){
    .linkConsoles{
        top: 56.5%;
        left: 9.6%;
    }
}
@media screen and (min-width:1440px){
    .linkConsoles{
        top: 49.5%;
        left: 12.3%;
        transform: scale(1.8,1.8);
    }
}
