

.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2% 0;
    width: 90%;
}

.cabecalho__barradepesquisa{
    border: 0;
    background-color: transparent;
    box-sizing:border-box;
    float: left;
    padding:.5rem .6rem;
    width:80%;


    /* border-radius: 20px; */
    /* background-color:var(--corBackgroundPesquisa); */
    /* margin-right: 80%; */
    /* background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right; */
    
}

.cabecalho__botaologin{
    background-color:var(--corBranco);
    
    border: 1px solid var(--corAzul);
    color: var(--corAzul);
    
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    line-height: 19px;
    letter-spacing: 0em;
    padding: 1rem 4rem;
    text-align: left;
    text-decoration: none;


}

.cabecalho__campobusca{
    border: 1px solid black;
    border-radius:20px;
    background-color:var(--corBackgroundPesquisa);
    float:left;
    width: 40%;
}

.cabecalho__campobusca > button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    float: left;
    height: 100%;
    margin-top:2%;
    width:20%;
}

.svgLupa>path{
    fill: rgb(133, 133, 133);
}


.svgLupa>path:hover{
    fill: rgb(0, 0, 0);
    cursor: pointer;
}


@media screen and (max-width:768px){
    .cabecalho__barradepesquisa{
        margin-right: 10%;

    }
    .cabecalho__campobusca > button{
        width:10%
    }


}

@media screen and (max-width:480px){
    /* .cabecalho{
        background-image: url(../img/lupa.png);
        background-repeat: no-repeat;
        background-position:right
    } */

    .cabecalho__barradepesquisa{
        display: none;
    }
    
    .cabecalho__botaologin{
        transform: scale(.7)
    }
    .cabecalho img{
        transform: scale(.6)
    }

    
    
}
    

