.produtos{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    
}

.poduto{
    box-sizing: border-box;
    display: flex;
    width: 15%;
}


.produtos__cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 1rem 0;
}

.produtos__grade{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


.produto__nome{
    color: var(--corCinzaEscuro);
    font:normal 14px 'Raleway',sans-serif;
    padding: .3rem 0;
}

.produto__preco{
    color: var(--corCinzaEscuro);
    font: bold 16px 'Raleway',sans-serif;
}

.produtos__titulo{
    color: var(--corCinzaEscuro);
    font:bold 36px 'Raleway',sans-serif ;
}

.verTudo,.produto__link{
    color: var(--corAzul);
    font-weight: bold;
    font-family: 'Raleway';
    text-decoration: none;
}



@media screen and (max-width:768px) {
   
    .produtos{
        width: 90%;
       
        margin: 0 auto;
    }
    
    .produto>img{
        width:90%
    }

    .produto:last-child, .produto:nth-child(5){
        display: none;
    }
   
    
    .gradeProduto{
        justify-content: space-around;
    }
    
   
}



@media screen and (max-width:480px) {
    .produtos{
        width: 90%;
       
        margin: 0 auto;
    }
    .produto{
        width:50%;
        margin-bottom:1rem;
    }
    
    .produtos__grade{
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
   
    .produto:last-child, .produto:nth-child(5){
        display: none;
    }
   
    
   
}
