
.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: -3%;
    
}
#contato__botaoenviar{
    background-color:var(--corAzul);
    border-radius: 0px;
    color: var(--corBranco);
    
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    width: 35%;

}

.contato__link{
    text-decoration: none;
}

#contato__mensagem{
    width: 102%;
    border: 0px;
    border-radius: 4px;
    padding: 0rem .3rem .3rem .6rem;
    font-family: 'Raleway', sans-serif;
    color:var(--corCinzaEscuro);
    line-height: 20px;
}

#contato__nome{
    border: 0px;
    border-radius: 4px;
    box-sizing: content-box;
    margin-bottom: 1rem;
    padding: 1.8rem 0 .3rem .6rem;
    position:relative;
    width: 100%;
    
}


.contato__nome{
    position: absolute;
}


footer{
    background-color: var(--corCinza);
}

.paragraforodape{
    align-items: center;
    text-align: center;
    margin-bottom: .6rem;
}
.labelNome{
    position: relative;
    z-index: 2;
    top:25%;
    padding:.6rem;
    color:var(--corCinzaEscuro);
    font-size:12px;
    font-family: 'Raleway',sans-serif;
    
}
.rodape{
    display: flex;
    justify-content: space-around;
    margin:0 auto ;
    padding: 2rem 0 ;
}

.rodape>img{
    width:20%;
    height:20%;
    margin-left: -8%;
    
}

.rodape__contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.rodape__contato--responsive{
    display: none;
    
}


@media screen and (max-width:768px){
    #contato__mensagem{
        width: 50%;
        
    }
    #contato__nome{
        width: 70%;
        margin-left: -11%;
        
    }
    .labelNome{
        top: -30%;
    }
    .rodape>img{
        display: none;
    }

    .rodape{
        justify-content: space-between;
    }
    .rodape__contato{
        display: none;
    }
    .rodape__contato--responsive{
        display: flex;
        flex-direction: column;
        margin: 0 10% 0 5%;
        
    }

    .contato{
        margin-right: -15%;
        width: 100%;
    }

    .contato__link--responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #contato__mensagem{
        width: 70%;
    }
}

@media screen and (max-width:480px){
    #contato__mensagem{
        width: 84%;
        
    }
    #contato__nome{
        width: 80%;
        margin-left: -18%;
        
    }
    .contato__link{
        margin: 0.5rem 0;
    }
    .labelNome{
        top: -40%;
    }
    .rodape>img{
        display: none;
    }

    .rodape{
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 0 5%;
    }
    .rodape__contato{
        display: none;
    }
    .rodape__contato--responsive{
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        
    }

    .contato{
        margin-left:0%;
        margin-top: 5%;
        width: 80%;
        justify-content: space-between;
    }

    .contato__link--responsive{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    #contato__botaoenviar{
        padding: .5rem 5rem;
        text-align: center;
        width: 85%;
        
        
    }
}