main{
    background-color: var(--corCinzaClaro);
    padding-bottom: 2%;
    
}

.usuariologin{
    display:flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 10% 0;
    background-color: var(--corCinzaClaro);
}

.usuariologin__botaoentrar{
    background-color: var(--corAzul);
    padding: 2rem;
    color: var(--corBranco);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.usuariologin__entrar--link{
    text-decoration: none;
    color: var(--corBranco);
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.usuariologin__titulo{
    margin-bottom: 2rem;
    text-align: center;

    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight:bold;
    color:var(--corCinzaEscuro);
}

.usuariologin input{
    margin: 1rem 0;

    padding:1rem;
    border: 0px;
    border-radius: 4px;
}




@media screen and (max-width: 768px){
    .usuariologin{
        width:50%;
    }
}