.banner{
    display: none;
}


.produto{
    margin-bottom: 2rem;
}

.produto__botaoadicionar{
    color:var(--corBranco);
    background-color: var(--corAzul);
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
    padding: 1rem;
}
.produtos__grade--todososprodutos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


@media screen and (max-width:768px) {
    .produto{
        width: 25%;
    }

    .produto:last-child, .produto:nth-last-child(1){
        margin-right: 50%;
    }

    .produto:last-child, .produto:nth-child(5){
        display: block;
    }

    


}

@media screen and (max-width:480px){
    .produto{
        width: 50%;
    }

    .produto__botaoadicionar{
        transform: scale(.8);
        width: 100%;
        margin-left:2%;
        
        text-align: center;
        padding: 2rem .5rem ;
        align-content: center;
        
    }

    .produto__cabecalho{
        flex-direction: column;
    }

    .produto:last-child, .produto:nth-last-child(1){
        margin-right: 0%;
    }
}
    
    
    
